html 
	box-sizing: border-box

*, 
*::after, 
*::before 
	box-sizing: inherit

*
	padding: 0
	margin: 0

body
	font-family: 'Oswald', sans-serif

ul, li
	display: block
	margin: 0
	padding: 0

p 
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif

.switcher
	position: absolute
	visibility: hidden
	left: -99999px

.open,
.close
	//display: none


.switcher:checked ~ .olala
	background: green
	transition: linear 1s

.header
	display: flex
	justify-content: flex-start
	margin-left: 100px
	@media (max-width: 768px)
		flex-wrap: wrap
		margin-left: 35px
		margin-top: -50px

.promo
	//display: flex
	//margin: 0 auto
	



	position: relative
	&::before
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		background: url(../images/bg-right.jpg) no-repeat right
		background-color: #64a83b
		height: 696px
		width: calc(100%/2)
		z-index: -2
		@media (max-width: 768px)
			display: none

	&__nav
		width: 1200px
		display: flex
		align-items: center
		justify-content: space-between
		margin-left: auto
		margin-right: auto
		padding-top: 55px
		ul
			//background: black
			@media (max-width: 320px)
				//display: none

		@media (max-width: 768px)
			width: 768px
			padding-top: 24px
			padding-left: 30px
			padding-right: 30px
			ul
				color: black

		



	&__logo
		background: url(../images/logo.png)
		width: 202px
		height: 59px
		@media (max-width: 768px)
			background: url(../images/logo-tablet.png)
			width: 173px
			height: 58px
		@media (max-width: 320px)
			background: url(../images/logo-mobile-header.png) no-repeat
			width: 173px
			height: 58px


	&__ul
		display: flex
		font-size: 20px
		font-weight: 400
		text-transform: uppercase
		color: white

		@media (max-width: 768px)
			font-size: 18px
			//line-height: 24px

		& li
			margin: 0 15px

	&__left

		& img
			margin-top: 54px
		&__btn
			display: flex
			align-items: center
			justify-content: center
			width: 245px
			height: 52px
			background-color: #68b738
			font-size: 20px
			font-weight: 400
			line-height: 20px
			text-transform: uppercase
			color: #ffffff
		&__info
			display: flex
			margin-top: -100px
			margin-left: 83px
			aic
			height: 696px
			flex-direction: column
			justify-content: center
			& h1
				font-size: 60px
				font-weight: 400
				line-height: 60px
			& h2
				margin-top: 33px
				margin-bottom: 53px
				font-size: 20px
				font-weight: 400
				line-height: 20px
				text-transform: uppercase

		@media (max-width: 768px)
			height: 0

	&__right
		&__img
			//position: absolute
			margin-top: 30px
			margin-left: -40px


		@media (max-width: 768px)
			margin-top: 320px
			//margin-left: 50px
			z-index: -1
				



=circle-green
	width: 96px
	height: 96px
	border: 3px solid #68b738
	border-radius: 50%
	background-color: #68b738

=circle-green--table
	width: 200px
	height: 200px
	//border: 3px solid #68b738
	border-radius: 50%
	background-color: #68b738

.offers
	display: flex
	justify-content: center
	margin-left: 100px
	margin-right: 100px
	margin-top: 60px

	&__button
		font-size: 20px
		font-weight: 400
		line-height: 20px
		margin-top: 30px
		padding-left: 50px
		text-transform: uppercase

		@media (max-width: 768px)
			padding: 0


	@media (max-width: 768px)
		margin: 0
		flex-wrap: wrap

		
	&__left
		width: 570px
		height: 372px
		background: #f2f2f2
		margin-right: 80px
		&--table
			display: none

		@media (max-width: 768px)
			display: none
			&--table
				display: flex
				width: 708px
				height: 372px
				background: #f2f2f2
				margin-bottom: 30px
				&__text
					display: flex
					flex-direction: column
					justify-content: center
					padding-left: 50px
					h1
						font-size: 36px
						font-weight: 400
						text-transform: uppercase
					p
						//margin-left: 50px
						margin-right: 50px
						margin-top: 25px
						color: #444444
						font-size: 16px
						font-weight: 400
						line-height: 24px
				img
					position: absolute
					left: 30px
					bottom: 20px

		
		&__image
			+circle-green
			position: relative
			margin-left: 50px
			margin-top: 50px
			&--table
				align-self: center
				+circle-green--table
				position: relative
				margin-right: 60px
				flex-shrink: 0


		img
			position: absolute
			left: 12px
			bottom: 5px
		h1
			margin-left: 160px
			margin-top: 15px
			font-size: 36px
			font-weight: 400
			text-transform: uppercase
		p
			margin-left: 50px
			margin-right: 50px
			margin-top: 40px
			color: #444444
			font-size: 16px
			font-weight: 400
			line-height: 24px


	&__right
		width: 570px
		height: 372px
		background: #f2f2f2
		&--table
			display: none

		@media (max-width: 768px)
			display: none
			&--table
				display: flex
				width: 708px
				height: 372px
				background: #f2f2f2
				&__text
					display: flex
					flex-direction: column
					justify-content: center
					padding-left: 50px
					h1
						font-size: 36px
						font-weight: 400
						text-transform: uppercase
					p
						//margin-left: 50px
						margin-right: 50px
						margin-top: 25px
						color: #444444
						font-size: 16px
						font-weight: 400
						line-height: 24px
				img
					position: absolute
					left: -35px
					top: 40px
		
		&__image
			+circle-green
			position: relative
			margin-left: 50px
			margin-top: 50px
			&--table
				align-self: center
				+circle-green--table
				position: relative
				margin-right: 60px
				flex-shrink: 0

		img
			position: absolute
			left: -20px
			bottom: 20px
		h1
			margin-left: 160px
			margin-top: 15px
			font-size: 36px
			font-weight: 400
			text-transform: uppercase

		p
			margin-left: 50px
			margin-right: 50px
			margin-top: 40px
			color: #444444
			font-size: 16px
			font-weight: 400
			line-height: 24px



.how-to-work
	margin-top: 80px

	@media (min-width: 992px)
			padding: 0 7%
	h1
		font-size: 60px
		font-weight: 400
		line-height: 60px
		color: #111111

		@media (max-width: 992px)
			margin-left: 10vw
			
.roadmap
	display: flex
	margin-top: 63px
	justify-content: space-between
	//flex-wrap: wrap



	@media (max-width: 992px)
		display: flex
		flex-wrap: wrap
		justify-content: center
	p
		color: #444444
		font-size: 16px
		font-weight: 400
		line-height: 24px
		margin-top: 37px
	&__infoblock
		display: flex
		justify-content: center
		align-items: center
		width: 80px
		height: 80px
		background-color: #68b738
		&__img

	
	&__section
		position: relative
		width: 236px
		height: 228px
		//flex-basis: 20%
		//&:nth-child(-n+3)
			//margin-right: 50px

		@media (max-width: 992px)
			&:nth-child(odd)
				margin-right: 20vw
				justify-content: space-around
			&:nth-child(1n)
				margin-bottom: 10vw
		h1
			position: absolute
			color: #f2f2f2
			font-size: 281px
			font-weight: 400
			margin-left: 126px
			z-index: -1


.liveview
	display: flex
	justify-content: center
	margin-top: 60px
	background-image: linear-gradient(180deg, white 170px, #f2f2f2 30%)
	padding-bottom: 70px

	@media (max-width: 992px)
		flex-direction: column


	// .liveview__left
	&__left
		margin-right: 130px
		
		@media (max-width: 992px)
			flex-wrap: wrap
			margin: 0 50px
		h1
			color: #111111
			font-size: 60px
			font-weight: 400
			line-height: 60px
			margin-top: 30px
			margin-bottom: 145px

			@media (max-width: 992px)
				padding: 0 calc(50% - 500px)
				margin-bottom: 60px
			
		p
			width: 430px	
			color: #444444
			font-size: 16px
			line-height: 24px

			@media (max-width: 992px)
				width: 100%

	// .liveview__info
	&__info
		display: flex
		margin-top: 70px
		@media (max-width: 992px)
			margin-bottom: 100px

		fieldset
			border-radius: 6px
			text-align: center
			vertical-align: center
			position: relative
			height: 72px
			width: 162px
			font-size: 30px
			font-weight: 400
			line-height: 37.02px
			text-transform: uppercase
		legend
			position: absolute
			width: 100px
			bottom: 0
			left: 50%
			transform: translate(-50%,44%)
			//padding: 0 3px
			background: #f2f2f2
			color: #444444
			font-size: 14px
			font-weight: 400
			text-transform: lowercase
		span
			display: flex
			justify-content: center
			margin-top: 14px

			
	// .liveview__info__1
	&__info__1
		margin-right: 40px
		&__span
			margin-top: 60px
			color: #111111
			text-align: center
			font-size: 19px
			font-weight: 400
			line-height: 20px
			text-transform: uppercase

			@media (max-width: 996px)
				display: none


			
			&--mobile
				display: none

				@media (max-width: 996px)
					display: none
					margin-left: auto
					display: flex
					flex-direction: column
					justify-content: center
					color: #111111
					font-size: 19px
					font-weight: 400
					line-height: 20px
					text-transform: uppercase
					text-align: right
					margin-bottom: 10px

	// .liveview__info__2
	&__info__2
		//margin-left: 40px
		legend
			//width: 123px


	// .liveview__right
	&__right
		height: 499px
		width: 677px
		background: url(../images/before-desktop.png)

		@media (max-width: 992px)
			display: flex
			align-self: center


.footer

	@media (min-width: 992px)
		display: flex
		position: relative

	&__google-map
		display: flex
		justify-content: center
		align-items: center
		height: 400px
		width: 100%
		background: url(../images/map.jpg)
		
	&__map-pin
		height: 113px
		//width: 106px

	&__info
		display: flex
		align-items: center
		height: 150px
		background: #f2f2f2
		&__logo
			background: url(../images/footer-logo.png) no-repeat
			width: 128px
			height: 24px
			margin-left: 110px
		&__social
			margin: 0 auto
			img
				padding-right: 15px
		&__html
			margin-right: 110px

	&__contacts
		display: flex
		align-items: center
		justify-content: space-between
		background-color: white
		height: 201px
		width: 570px

		@media (max-width: 992px)
			margin: 0 72px

		@media (min-width: 992px)
			padding: 0 70px
			position: absolute
			top: 100px
			left: 100px
			width: 570px
		h2
			width: 154px
			margin-right: 95px
			font-size: 20px
			font-weight: 400
			text-transform: uppercase
		p
			font-size: 16px
			font-weight: 400
			color: #444444
	
	
section
	//padding: 0 15px


@media (min-width: 575.98px)
	section 
		//padding: 0 calc(50% - 270px)

@media (min-width: 992px)
	section 
		//padding: 0 calc(50% - 360px)


@media (min-width: 991.98px) 
	section 
		//padding: 0 calc(50% - 480px)
  
@media (min-width: 1199.98px)
	section 
		//padding: 0 calc(50% - 590px)
  




// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px)

// Малые девайсы («ландшафтные», < 992px)
@media (max-width: 992px)

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px)

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)




// Экстрамалые девайсы («портретные телефоны», < 576px)
@media (max-width: 575.98px)

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 992px)

// Средние девайсы («таблетки», >= 992px) 
@media (min-width: 992px) and (max-width: 991.98px)

// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px)

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px)





