* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.promo {
  width: 1440px;
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
}
.promo__left {
  flex-basis: 50%;
  margin-left: 90px;
}
.promo__left img {
  margin-top: 54px;
}
.promo__left__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 52px;
  background-color: #68b738;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.promo__left__info {
  display: flex;
  margin-top: -100px;
  margin-left: 83px;
  height: 696px;
  flex-direction: column;
  justify-content: center;
}
.promo__left__info h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
.promo__left__info h2 {
  margin-top: 33px;
  margin-bottom: 53px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.promo__right {
  position: relative;
  flex-basis: 57%;
  background-color: #64a83b;
  background: url(../images/bg-right.jpg);
  height: 696px;
}
.promo__right__nav {
  display: flex;
  margin-top: 59px;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}
.promo__right__nav li {
  margin-right: 30px;
}
.promo__right img {
  position: absolute;
  top: 150px;
  right: 325px;
}

.header {
  display: flex;
}

.offers {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.offers__left {
  width: 570px;
  height: 372px;
  background: #f2f2f2;
  margin-right: 80px;
}
.offers__left__image {
  width: 96px;
  height: 96px;
  border: 3px solid #68b738;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
.offers__left img {
  position: absolute;
  left: 12px;
  bottom: 5px;
}
.offers__left h1 {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.offers__left p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.offers__right {
  width: 570px;
  height: 372px;
  background: #f2f2f2;
}
.offers__right__image {
  width: 96px;
  height: 96px;
  border: 3px solid #68b738;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
.offers__right img {
  position: absolute;
  left: -20px;
  bottom: 20px;
}
.offers__right h1 {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.offers__right p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.offers__button {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 30px;
  padding-left: 50px;
  text-transform: uppercase;
}
