html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.switcher {
  position: absolute;
  visibility: hidden;
  left: -99999px;
}

.switcher:checked ~ .olala {
  background: green;
  transition: linear 1s;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    margin-left: 35px;
    margin-top: -50px;
  }
}

.promo {
  position: relative;
}
.promo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/bg-right.jpg) no-repeat right;
  background-color: #64a83b;
  height: 696px;
  width: calc(100%/2);
  z-index: -2;
}
@media (max-width: 768px) {
  .promo::before {
    display: none;
  }
}
.promo__nav {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
}
@media (max-width: 768px) {
  .promo__nav {
    width: 768px;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .promo__nav ul {
    color: black;
  }
}
.promo__logo {
  background: url(../images/logo.png);
  width: 202px;
  height: 59px;
}
@media (max-width: 768px) {
  .promo__logo {
    background: url(../images/logo-tablet.png);
    width: 173px;
    height: 58px;
  }
}
@media (max-width: 320px) {
  .promo__logo {
    background: url(../images/logo-mobile-header.png) no-repeat;
    width: 173px;
    height: 58px;
  }
}
.promo__ul {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 768px) {
  .promo__ul {
    font-size: 18px;
  }
}
.promo__ul li {
  margin: 0 15px;
}
.promo__left img {
  margin-top: 54px;
}
.promo__left__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 52px;
  background-color: #68b738;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.promo__left__info {
  display: flex;
  margin-top: -100px;
  margin-left: 83px;
  height: 696px;
  flex-direction: column;
  justify-content: center;
}
.promo__left__info h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
.promo__left__info h2 {
  margin-top: 33px;
  margin-bottom: 53px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .promo__left {
    height: 0;
  }
}
.promo__right__img {
  margin-top: 30px;
  margin-left: -40px;
}
@media (max-width: 768px) {
  .promo__right {
    margin-top: 320px;
    z-index: -1;
  }
}

.offers {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.offers__button {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 30px;
  padding-left: 50px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .offers__button {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .offers {
    margin: 0;
    flex-wrap: wrap;
  }
}
.offers__left {
  width: 570px;
  height: 372px;
  background: #f2f2f2;
  margin-right: 80px;
}
.offers__left--table {
  display: none;
}
@media (max-width: 768px) {
  .offers__left {
    display: none;
  }
  .offers__left--table {
    display: flex;
    width: 708px;
    height: 372px;
    background: #f2f2f2;
    margin-bottom: 30px;
  }
  .offers__left--table__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  .offers__left--table__text h1 {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .offers__left--table__text p {
    margin-right: 50px;
    margin-top: 25px;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .offers__left--table img {
    position: absolute;
    left: 30px;
    bottom: 20px;
  }
}
.offers__left__image {
  width: 96px;
  height: 96px;
  border: 3px solid #68b738;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
.offers__left__image--table {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-right: 60px;
  flex-shrink: 0;
}
.offers__left img {
  position: absolute;
  left: 12px;
  bottom: 5px;
}
.offers__left h1 {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.offers__left p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.offers__right {
  width: 570px;
  height: 372px;
  background: #f2f2f2;
}
.offers__right--table {
  display: none;
}
@media (max-width: 768px) {
  .offers__right {
    display: none;
  }
  .offers__right--table {
    display: flex;
    width: 708px;
    height: 372px;
    background: #f2f2f2;
  }
  .offers__right--table__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  .offers__right--table__text h1 {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .offers__right--table__text p {
    margin-right: 50px;
    margin-top: 25px;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .offers__right--table img {
    position: absolute;
    left: -35px;
    top: 40px;
  }
}
.offers__right__image {
  width: 96px;
  height: 96px;
  border: 3px solid #68b738;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
.offers__right__image--table {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
  margin-right: 60px;
  flex-shrink: 0;
}
.offers__right img {
  position: absolute;
  left: -20px;
  bottom: 20px;
}
.offers__right h1 {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.offers__right p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.how-to-work {
  margin-top: 80px;
}
@media (min-width: 992px) {
  .how-to-work {
    padding: 0 7%;
  }
}
.how-to-work h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
@media (max-width: 992px) {
  .how-to-work h1 {
    margin-left: 10vw;
  }
}

.roadmap {
  display: flex;
  margin-top: 63px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .roadmap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.roadmap p {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 37px;
}
.roadmap__infoblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #68b738;
}
.roadmap__section {
  position: relative;
  width: 236px;
  height: 228px;
}
@media (max-width: 992px) {
  .roadmap__section:nth-child(odd) {
    margin-right: 20vw;
    justify-content: space-around;
  }
  .roadmap__section:nth-child(1n) {
    margin-bottom: 10vw;
  }
}
.roadmap__section h1 {
  position: absolute;
  color: #f2f2f2;
  font-size: 281px;
  font-weight: 400;
  margin-left: 126px;
  z-index: -1;
}

.liveview {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-image: linear-gradient(180deg, white 170px, #f2f2f2 30%);
  padding-bottom: 70px;
}
@media (max-width: 992px) {
  .liveview {
    flex-direction: column;
  }
}
.liveview__left {
  margin-right: 130px;
}
@media (max-width: 992px) {
  .liveview__left {
    flex-wrap: wrap;
    margin: 0 50px;
  }
}
.liveview__left h1 {
  color: #111111;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 145px;
}
@media (max-width: 992px) {
  .liveview__left h1 {
    padding: 0 calc(50% - 500px);
    margin-bottom: 60px;
  }
}
.liveview__left p {
  width: 430px;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .liveview__left p {
    width: 100%;
  }
}
.liveview__info {
  display: flex;
  margin-top: 70px;
}
@media (max-width: 992px) {
  .liveview__info {
    margin-bottom: 100px;
  }
}
.liveview__info fieldset {
  border-radius: 6px;
  text-align: center;
  vertical-align: center;
  position: relative;
  height: 72px;
  width: 162px;
  font-size: 30px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
}
.liveview__info legend {
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 44%);
  background: #f2f2f2;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
}
.liveview__info span {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.liveview__info__1 {
  margin-right: 40px;
}
.liveview__info__1__span {
  margin-top: 60px;
  color: #111111;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 996px) {
  .liveview__info__1__span {
    display: none;
  }
}
.liveview__info__1__span--mobile {
  display: none;
}
@media (max-width: 996px) {
  .liveview__info__1__span--mobile {
    display: none;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111111;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 10px;
  }
}
.liveview__right {
  height: 499px;
  width: 677px;
  background: url(../images/before-desktop.png);
}
@media (max-width: 992px) {
  .liveview__right {
    display: flex;
    align-self: center;
  }
}

@media (min-width: 992px) {
  .footer {
    display: flex;
    position: relative;
  }
}
.footer__google-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background: url(../images/map.jpg);
}
.footer__map-pin {
  height: 113px;
}
.footer__info {
  display: flex;
  align-items: center;
  height: 150px;
  background: #f2f2f2;
}
.footer__info__logo {
  background: url(../images/footer-logo.png) no-repeat;
  width: 128px;
  height: 24px;
  margin-left: 110px;
}
.footer__info__social {
  margin: 0 auto;
}
.footer__info__social img {
  padding-right: 15px;
}
.footer__info__html {
  margin-right: 110px;
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 201px;
  width: 570px;
}
@media (max-width: 992px) {
  .footer__contacts {
    margin: 0 72px;
  }
}
@media (min-width: 992px) {
  .footer__contacts {
    padding: 0 70px;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 570px;
  }
}
.footer__contacts h2 {
  width: 154px;
  margin-right: 95px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__contacts p {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}
