*
	padding: 0
	margin: 0

body
	font-family: 'Oswald', sans-serif

ul, li
	display: block
	margin: 0
	padding: 0

p 
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif

.promo
	width: 1440px
	margin: 0 auto
	padding-left: 110px
	padding-right: 110px
	&__left
		flex-basis: 50%
		margin-left: 90px
		& img
			margin-top: 54px
		&__btn
			display: flex
			align-items: center
			justify-content: center
			width: 245px
			height: 52px
			background-color: #68b738
			font-size: 20px
			font-weight: 400
			line-height: 20px
			text-transform: uppercase
			color: #ffffff
		&__info
			display: flex
			margin-top: -100px
			margin-left: 83px
			aic
			height: 696px
			flex-direction: column
			justify-content: center
			& h1
				font-size: 60px
				font-weight: 400
				line-height: 60px
			& h2
				margin-top: 33px
				margin-bottom: 53px
				font-size: 20px
				font-weight: 400
				line-height: 20px
				text-transform: uppercase

	&__right
		position: relative
		flex-basis: 57%
		background-color: #64a83b
		background: url(../images/bg-right.jpg)
		height: 696px
		&__nav
			display: flex
			margin-top: 59px
			font-size: 20px
			font-weight: 400
			justify-content: center
			text-transform: uppercase
			color: white
			& li
				margin-right: 30px
		& img
			position: absolute
			top: 150px
			right:325px
.header
	display: flex


=circle-green
	width: 96px
	height: 96px
	border: 3px solid #68b738
	border-radius: 50%
	background-color: #68b738

.offers
	display: flex
	justify-content: center
	margin-left: 100px
	margin-right: 100px
	margin-top: 50px
	&__left
		width: 570px
		height: 372px
		background: #f2f2f2
		margin-right: 80px
		
		&__image
			+circle-green
			position: relative
			margin-left: 50px
			margin-top: 50px
		& img
			position: absolute
			left: 12px
			bottom: 5px
		& h1
			margin-left: 160px
			margin-top: 15px
			font-size: 36px
			font-weight: 400
			text-transform: uppercase
		& p
			margin-left: 50px
			margin-right: 50px
			margin-top: 40px
			color: #444444
			font-size: 16px
			font-weight: 400
			line-height: 24px


	&__right
		width: 570px
		height: 372px
		background: #f2f2f2
		
		&__image
			+circle-green
			position: relative
			margin-left: 50px
			margin-top: 50px
		& img
			position: absolute
			left: -20px
			bottom: 20px
		& h1
			margin-left: 160px
			margin-top: 15px
			font-size: 36px
			font-weight: 400
			text-transform: uppercase

		& p
			margin-left: 50px
			margin-right: 50px
			margin-top: 40px
			color: #444444
			font-size: 16px
			font-weight: 400
			line-height: 24px

	&__button
		font-size: 20px
		font-weight: 400
		line-height: 20px
		margin-top: 30px
		padding-left: 50px
		text-transform: uppercase

.how-to-work
	width: 1220px
	margin: 0 auto
	margin-top: 80px
	& h1
		font-size: 60px
		font-weight: 400
		line-height: 60px
		color: #111111

.roadmap
	margin-top: 63px
	display: flex
	justify-content: space-between
	p
		color: #444444
		font-size: 16px
		font-weight: 400
		line-height: 24px
		margin-top: 37px
	&__infoblock
		display: flex
		justify-content: center
		align-items: center
		width: 80px
		height: 80px
		background-color: #68b738
		&__img

	
	&__section
		position: relative
		width: 236px
		height: 228px
		& h1
			position: absolute
			color: #f2f2f2
			font-size: 281px
			font-weight: 400
			margin-left: 126px
			z-index: -1
			//line-height: 281.07px


.liveview
	display: flex
	justify-content: center
	margin-top: 40px
	padding-bottom: 70px
	background-image: linear-gradient(180deg, white 170px, #f2f2f2 20%)
	
	// .liveview__left
	&__left
		margin-right: 120px
		h1
			color: #111111
			font-size: 60px
			font-weight: 400
			line-height: 60px
			margin-top: 30px
			margin-bottom: 160px
		p
			width: 430px	
			color: #444444
			font-size: 16px
			font-weight: 00
			line-height: 24px

	// .liveview__info
	&__info
		display: flex
		margin-top: 70px

		fieldset
			text-align: center
			vertical-align: center
			position: relative
			height: 72px
			width: 162px
			font-size: 30px
			font-weight: 400
			line-height: 37.02px
			text-transform: uppercase
		legend
			position: absolute
			width: 100px
			bottom: 0
			left: 50%
			transform: translate(-50%,44%)
			//padding: 0 3px
			background: #f2f2f2
			color: #444444
			font-size: 16px
			font-weight: 400
			text-transform: lowercase
		span
			display: flex
			justify-content: center
			margin-top: 14px

			
	// .liveview__info__1
	&__info__1
		&__span
			margin-top: 60px
			color: #111111
			text-align: center
			font-size: 19px
			font-weight: 400
			line-height: 20px
			text-transform: uppercase
		

	// .liveview__info__2
	&__info__2
		margin-left: 40px
		legend
			width: 123px


	// .liveview__right
	&__right


.footer

	&__google-map
		display: flex
		//justify-content: center
		align-items: center
		height: 400px
		background: url(../images/map.jpg)

	img
		height: 113px
		width: 106px

	&__info
		height: 150px
		background: #f2f2f2

	&__contacts
		display: flex
		margin-left: 110px
		align-items: center
		background-color: white
		width: 570px
		height: 201px
		margin-right: 330px
		h2
			margin-left: 76px
			width: 154px
			margin-right: 95px
			font-size: 20px
			font-weight: 400
			text-transform: uppercase
		p
			font-size: 16px
			font-weight: 400
			color: #444444
	
	








